loom_remote_user: loom
worker_uses_internal_ip: "{{lookup('env','LOOM_GCLOUD_WORKER_USES_SERVER_INTERNAL_IP')|default(false, true)|bool}}"
worker_connection_settings_file: "{{lookup('env','LOOM_GCLOUD_WORKER_CONNECTION_SETTINGS_FILE')|default('worker-connection-settings.conf', true)}}"

disk_size_gb: "{{lookup('env','LOOM_GCLOUD_WORKER_DISK_SIZE_GB')|default('10',true)}}"
disk_type: "{{lookup('env','LOOM_GCLOUD_WORKER_DISK_TYPE')|default('pd-standard', true)}}"
cores: "{{lookup('env','LOOM_TASK_ATTEMPT_CORES')|default('1',true)}}"
external_ip: "{{lookup('env','LOOM_GCLOUD_WORKER_EXTERNAL_IP')}}"
gce_credential: "{{container_settings_home}}/{{resource_dir}}/{{lookup('env','LOOM_GCE_PEM_FILE')}}"
gce_email: "{{lookup('env','LOOM_GCE_EMAIL')}}"
gce_project: "{{lookup('env','LOOM_GCE_PROJECT')}}"
instance_image: "{{lookup('env','LOOM_GCLOUD_WORKER_INSTANCE_IMAGE')|default('centos-7', true)}}"
log_level: "{{lookup('env','LOOM_LOG_LEVEL')|default('INFO', true)}}"

default_registry: "{{lookup('env', 'LOOM_DEFAULT_DOCKER_REGISTRY')}}"
raw_image: "{{lookup('env', 'LOOM_DOCKER_IMAGE')}}"
loom_docker_image: "{% if default_registry %}{% if not ('.' in raw_image.split('/')[0]) %}{{default_registry}}/{% endif %}{% endif %}{{raw_image}}"

memory: "{{lookup('env','LOOM_TASK_ATTEMPT_MEMORY')|default('3.75',true)}}"
network: "{{lookup('env','LOOM_GCLOUD_WORKER_NETWORK')}}"
step_name: "{{lookup('env','LOOM_TASK_ATTEMPT_STEP_NAME')}}"
subnetwork: "{{lookup('env','LOOM_GCLOUD_WORKER_SUBNETWORK')}}"
loom_tags: "{{lookup('env','LOOM_GCLOUD_WORKER_TAGS')}}"
task_attempt_id: "{{lookup('env', 'LOOM_TASK_ATTEMPT_ID')}}"
task_attempt_docker_image: "{{lookup('env','LOOM_TASK_ATTEMPT_DOCKER_IMAGE')}}"
worker_log_file: "{{lookup('env','WORKER_LOG_FILE')}}"
zone: "{{lookup('env','LOOM_GCLOUD_WORKER_ZONE')|default('us-central1-c', true)}}"
instance_name_max_length: "{{lookup('env','LOOM_GCLOUD_INSTANCE_NAME_MAX_LENGTH')|default(63,true)}}"
