<img src="assets/loading.gif" alt="Loading..." ng-show="loading" class="center-block">
<div ng-hide="loading">
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
	<th>
	  Name
	</th>
	<td>
	  {{activeData.template.name}}
	</td>
      </tr>
      <tr>
	<th>
	  Template ID
	</th>
	<td>
	  {{activeData.template.id}}
	</td>
      </tr>
      <tr ng-show="activeData.template.command">
	<th>
	  Command
	</th>
	<td>
	  {{activeData.template.command}}
	</td>
      </tr>
      <tr ng-show="activeData.template.environment.docker_image">
	<th>Docker Image</th>
	<td>
	  {{activeData.template.environment.docker_image}}
	</td>
      </tr>
      <tr ng-show="activeData.template.resources.cores">
	<th>Cores</th>
	<td>
	  {{activeData.template.resources.cores}}
	</td>
      </tr>
      <tr ng-show="activeData.template.resources.memory">
	<th>Memory</th>
	<td>
	  {{activeData.template.resources.memory}}
	</td>
      </tr>
    </table>
  </div>
  <div ng-show="activeData.template.steps">
    <h4>Step</h4>
    <div class="table-responsive">
      <table class="table table-striped">
	<tbody>
	  <tr ng-repeat="step in activeData.template.steps">
            <td>
	      <a ng-href="#/templates/{{step.id}}">
		{{step.name}}
	      </a>
	    </td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
  <div ng-show="activeData.template.inputs.length">
    <h4>Inputs</h4>
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>
	      Channel
	    </th>
	    <th>
	      Type
	    </th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="input in activeData.template.inputs">
            <td>
	      {{input.channel}}
	    </td>
	    <td>
	      {{input.type}}
	    </td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
  <div ng-show="activeData.template.fixed_inputs.length">
    <h4>Fixed inputs</h4>
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>
	      Channel
	    </th>
	    <th>
	      Type
	    </th>
	    <th>
	      Value
	    </th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="input in activeData.template.fixed_inputs">
            <td>
	      {{input.channel}}
	    </td>
	    <td>
	      {{input.type}}
	    </td>
	    <td ng-show="input.type=='file'">
	      <a ng-href="#/files/{{input.value | parseId:'id'}}" ng-show="input.value">
		{{input.value | parseId:'name'}}
	      </a>
	    </td>
	    <td ng-hide="input.type=='file'">
	      {{input.value}}
	    </td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
  <div ng-show="activeData.template.outputs.length">
    <h4>Outputs</h4>
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>
	      Channel
	    </th>
	    <th>
	      Type
	    </th>
	    <th>
	      Filename
	    </th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="output in activeData.template.outputs">
            <td>
	      {{output.channel}}
	    </td>
	    <td>
	      {{output.type}}
	    </td>
	    <td ng-show="output.type=='file'">
	      {{output.filename}}
	    </td>
	    <td ng-hide="output.type=='file'">
	      -
	    </td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
</div>
