<h4 class="sub-header">
  <ol class="breadcrumb" ng-show="$location.$$path.startsWith('/runs')"> 
    <li><a href="#/runs">Runs</a></li>
    <li ng-show="activeData.focus.uuid"><a ng-href="#/runs/{{activeData.focus.uuid}}">{{activeData.focus.name}}@{{activeData.focus.uuid | limitTo:8}}</a></li>
  </ol>
  <ol class="breadcrumb" ng-show="$location.$$path.startsWith('/templates')">
    <li><a href="#/templates">Templates</a></li>
    <li ng-show="activeData.focus.uuid"><a ng-href="#/templates/{{activeData.focus.uuid}}">{{activeData.focus.name}}@{{activeData.focus.uuid | limitTo:8}}</a></li> 
  </ol>
  <ol class="breadcrumb" ng-show="$location.$$path.startsWith('/files')">
    <li>Files</li>
    <li ng-show="activeData.focus.uuid"><a ng-href="#/files/{{activeData.focus.uuid}}">{{activeData.focus.value.filename}}@{{activeData.focus.uuid | limitTo:8}}</a></li>
  </ol>
</h4>
