<div class="container-fluid pull-right">
  <div class="row pull-right" ng-show="(totalItems/pageSize)>10">
    <div class="form-inline col-xs-12">
      <label>page</label>
      <input
	placeholder="page"
	class="form-control textarea-sm"
	maxlength="16"
	ng-model="currentPage"/>
    </div>
  </div>
  <div class="row" ng-show="totalItems>pageSize">
    <div class="col-xs-12">
      <div paging
	   page="currentPage"
	   page-size="pageSize"
	   total="totalItems">
      </div>
    </div>
  </div>
</div>
<img src="assets/loading.gif" alt="Loading..." ng-show="loading" class="center-block">
<div class="table-responsive col-xs-12" ng-hide="loading">
  <table class="table table-striped" ng-show="files.length">
    <thead>
      <tr>
        <th>File</th>
        <th>md5</th>
	<th>Created</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="file in files">
	<td>
	  <loom-data contents="file"></loom-data>
	</td>
        <td>
          {{file.value.md5}}
        </td>
	<td>
	  {{file.datetime_created | date:'medium'}}
      </tr>
    </tbody>
  </table>
  <div ng-hide="files.length">no files</div>
</div>
<div class="container-fluid pull-right">
  <div class="row" ng-show="totalItems>pageSize">
    <div class="col-xs-12">
      <div paging
	   page="currentPage"
	   page-size="pageSize"
	   total="totalItems">
      </div>
    </div>
  </div>
  <div class="row pull-right" ng-show="(totalItems/pageSize)>10">
    <div class="form-inline col-xs-12">
      <label>page</label>
      <input
	placeholder="page"
	class="form-control textarea-sm"
	maxlength="16"
	ng-model="currentPage"/>
    </div>
  </div>
</div>
