<h2 class="sub-header"> 
  <ol class="breadcrumb" ng-show="$state.includes('runs')"> 
    <li><a href="#/runs">Runs</a></li>
    <li ng-show="$state.includes('runs.run')"><a ui-sref="runs.run({workflowId:Data.workflow_run._id})">{{Data.workflow_run.workflow.workflow_name}}@{{Data.workflow_run._id | limitTo:8}}</a></li> 
    <li ng-show="$state.includes('runs.run.step')" class="active">Steps</li> 
    <li ng-show="$state.includes('runs.run.step')"><a ui-sref="runs.run.step({stepId:$stateParams.stepId})">{{Data.step_run.step.step_name}}</a></li> 
  </ol>
  <ol class="breadcrumb" ng-show="$state.includes('workflows')">
    <li><a href="#/workflows">Workflows</a></li>
  </ol>
  <ol class="breadcrumb" ng-show="$state.includes('files')">
    <li><a href="#/files">Files</a></li>
    <li ng-show="$state.includes('files.file')"><a ui-sref="files.file({fileId:Data.file._id})">{{Data.file.file_name}}@{{Data.file._id | limitTo:8}}</a></li>
  </ol>
</h2> 
