<h2 class="sub-header"> 
    <ol class="breadcrumb" ng-show="$state.includes('workflows')"> 
        <li><a href="#/workflows">Workflows</a></li> 
        <li ng-show="$state.includes('workflows.workflow')"><a ui-sref="workflows.workflow({workflowId:$loom.workflow_run._id})">{{$loom.workflow_run.workflow.workflow_name}}@{{$loom.workflow_run._id | limitTo:8}}</a></li> 
        <li ng-show="$state.includes('workflows.workflow')" class="active">Steps</li> 
        <li ng-show="$state.includes('workflows.workflow.step')"><a ui-sref="workflows.workflow.step({stepId:$loom.step_run._id})">{{$loom.step_run.step.step_name}}@{{$loom.step_run._id | limitTo:8}}</a></li> 
    </ol> 
    <ol class="breadcrumb" ng-show="$state.includes('files')">
        <li><a href="#/files">Files</a></li> 
    </ol>
</h2> 
