<div ng-show="$state.is('files')">
  <div class="table-responsive" >
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Filename</th>
                <th>Notes</th>
                <th>md5</th>
		<th>Locations</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="file in files">
              <td>
		<a ui-sref="files.file({fileId:file._id})">
                    {{file.file_name}}@{{file._id | limitTo:8}}
                </td>
                <td>
		  <p ng-repeat="record in file.data_source_records">{{record.source_description}}</p>
                </td>
                <td>
                    {{file.file_contents.hash_value}}
                </td>
		<td>
		  <p ng-repeat="loc in file.file_storage_locations">
		    <span ng-if="loc.host_url == 'localhost'">file://{{loc.file_path}}
		    </span>
		    <a href="https://storage.cloud.google.com/{{loc.bucket_id}}/{{loc.blob_path}}" ng-if="loc.blob_path">https://storage.cloud.google.com/{{loc.bucket_id}}/{{loc.blob_path}}</a>
		  </p>
		</td>
<!--                <td>
                    {{file.datetime_created | date:'medium'}}
                </td>
                <td>
                    {{file.datetime_updated | date:'medium'}}
                </td>
		-->
            </tr>
        </tbody>
    </table>
</div>
</div>
