<div ng-show="$state.is('files')">
  <div class="table-responsive" >
    <table class="table table-striped">
        <thead>
            <tr>
                <th>File</th>
                <th>md5</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="file in files">
              <td>
		<a ui-sref="files.file({fileId:file._id})">
                  {{file.file_name}}@{{file._id | limitTo:8}}
		</a>
              </td>
              <td>
                {{file.file_contents.hash_value}}
              </td>
            </tr>
        </tbody>
    </table>
</div>
</div>

<!-- Nested child view for detailed workflow view -->
<div ui-view></div>
