<div ng-show="$state.is('runs')">
    <div class="table-responsive" >
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Run</th>
                  <th>Status</th>
                  <th>Started</th>
                  <th>Updated</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="workflow_run in workflow_runs">
                    <td><a ui-sref="runs.run({workflowId:workflow_run._id})">
                        {{workflow_run.workflow.workflow_name}}@{{workflow_run._id | limitTo:8}}
                    </a></td>
                    <td>
                        {{workflow_run.status}}
                    </td>
                    <td>
                        {{workflow_run.datetime_created | date:'medium'}}
                    </td>
                    <td>
                        {{workflow_run.datetime_updated | date:'medium'}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Nested child view for detailed workflow view -->
<div ui-view></div>
