<div ng-show="$state.is('workflows.workflow.step')">
    <div class="table-responsive" >
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Docker Image</th>
                    <th>Command</th>
                    <th>Cores</th>
                    <th>Memory</th>
                    <th>Inputs</th>
                    <th>Outputs</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{step_run.step.environment.docker_image}}
                    </td>
                    <td>
                        {{step_run.step.command}}
                    </td>
                    <td>
                        {{step_run.step.resources.cores}}
                    </td>
                    <td>
                        {{step_run.step.resources.memory}}
                    </td>
                    <td>
                        <p ng-repeat="input in step_run.step.step_inputs">
                            {{input.from_channel}}        
                        </p>
                    </td>
                    <td>
                        <p ng-repeat="output in step_run.step.step_outputs">
                            {{output.to_channel}}        
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
