<div ng-show="$state.is('workflows.workflow')">
  <div class="table-responsive" >
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Step</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="step in workflow.steps">
                  <td>{{step.step_name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Nested child view for detailed step view -->
<div ui-view></div>

