<h4 class="sub-header">
  <ol class="breadcrumb" ng-show="$location.$$path.startsWith('/runs')"> 
    <li><a href="#/runs">Runs</a></li>
    <li ng-show="params.runId"><a ng-href="#/runs/{{params.runId}}">{{activeData.run.template.name}}@{{activeData.run._id | limitTo:8}}</a></li> 
  </ol>
  <ol class="breadcrumb" ng-show="$location.$$path.startsWith('/workflows')">
    <li><a href="#/workflows">Workflows</a></li>
    <li ng-show="params.workflowId"><a ng-href="#/workflows/{{params.workflowId}}">{{activeData.workflow.name}}@{{activeData.workflow._id | limitTo:8}}</a></li> 
  </ol>
  <ol class="breadcrumb" ng-show="$location.$$path.startsWith('/data')">
    <li>Data</li>
    <li ng-show="params.dataId"><a ng-href="#/data/{{params.dataId}}">{{activeData.data.file_content.filename}}@{{activeData.data._id | limitTo:8}}</a></li>
  </ol>
</h4>
