<div class="container-fluid pull-right">
  <div class="row pull-right" ng-show="(totalItems/pageSize)>10">
    <div class="form-inline col-xs-12">
      <label>page</label>
      <input
	placeholder="page"
	class="form-control textarea-sm"
	maxlength="16"
	ng-model="currentPage"/>
    </div>
  </div>
  <div class="row" ng-show="totalItems>pageSize">
    <div class="col-xs-12">
      <div paging
	   page="currentPage"
	   page-size="pageSize"
	   total="totalItems">
      </div>
    </div>
  </div>
</div>
<img src="assets/loading.gif" alt="Loading..." ng-show="loading" class="center-block">
<div class="table-responsive col-xs-12" ng-hide="loading">
  <table class="table table-striped" ng-show="runs.length">
    <thead>
      <tr>
	<th>Run</th>
	<th>Status</th>
	<th>Created</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="run in runs">
	<td>
	  <a ng-href="#/runs/{{run.uuid}}">
	    {{run.name}}@{{run.uuid | limitTo:8}}
	  </a>
	</td>
	<td>
	  <span ng-class="'label label-' + (run.status | statusColor)">
	    {{run.status}}
	  </span>
	</td>
	<td>
	  {{run.datetime_created | date:'medium'}}
	</td>
      </tr>
    </tbody>
  </table>
  <div ng-hide="runs.length">no runs</div>
</div>
<div class="container-fluid pull-right">
  <div class="row" ng-show="totalItems>pageSize">
    <div class="col-xs-12">
      <div paging
	   page="currentPage"
	   page-size="pageSize"
	   total="totalItems">
      </div>
    </div>
  </div>
  <div class="row pull-right" ng-show="(totalItems/pageSize)>10">
    <div class="form-inline col-xs-12">
      <label>page</label>
      <input
	placeholder="page"
	class="form-control textarea-sm"
	maxlength="16"
	ng-model="currentPage"/>
    </div>
  </div>
</div>
