<img src="assets/loading.gif" alt="Loading..." ng-show="loading" class="center-block">
<div ng-hide="loading">
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>
                    Name
                </th>
                <td>
                    {{activeData.focus.name}}
                </td>
            </tr>
            <tr>
                <th>
                    Run ID
                </th>
                <td>
                    {{activeData.focus.uuid}}
                </td>
            </tr>
            <tr>
                <th>
                    Status
                </th>
                <td>
                  <span ng-class="'label label-'+(activeData.focus.status|statusColor)">
		    {{activeData.focus.status}}
		  </span>
                </td>
            </tr>
            <tr>
                <th>
                    Created
                </th>
                <td>
                    {{activeData.focus.datetime_created | date:'medium'}}
                </td>
            </tr>
            <tr>
                <th>
                    Template ID
                </th>
                <td>
                    <a ng-href="#/templates/{{activeData.focus.template.uuid}}">
                        {{activeData.focus.template.uuid}}
                    </a>
                </td>
            </tr>
            <tr ng-show="activeData.focus.command">
                <th>
                    Command
                </th>
                <td>
                    {{activeData.focus.command}}
                </td>
            </tr>
            <tr ng-show="activeData.focus.interpreter">
                <th>
                    Interpreter
                </th>
                <td>
                    {{activeData.focus.interpreter}}
                </td>
            </tr>
	    <tr ng-show="activeData.focus.environment.docker_image">
              <th>Docker Image</th>
              <td>
		{{activeData.focus.environment.docker_image}}
              </td>
	    </tr>
	    <tr ng-show="activeData.focus.resources.cores">
              <th>Cores</th>
              <td>
		{{activeData.focus.resources.cores}}
              </td>
	    </tr>
	    <tr ng-show="activeData.focus.resources.memory">
              <th>Memory</th>
              <td>
		{{activeData.focus.resources.memory}}
              </td>
	    </tr>
	    <tr ng-show="activeData.focus.resources.disk_size">
              <th>Disk size</th>
              <td>
		{{activeData.focus.resources.disk_size}}
              </td>
	    </tr>
        </table>
    </div>
    <div ng-show="activeData.focus.steps || activeData.focus.tasks">
      <h4>Steps</h4>
      <div class="col-xs-12">
	<div class="table-responsive">
	  <div class="table table-hover table-striped">
	    <div class="container-fluid">
	      <div class="row">
		<div class="col col-xs-5"></div>
		<div class="col col-xs-2">Status</div>
		<div class="col col-xs-3">Started</div>
	      </div>
	      <div class="row" ng-repeat="process in activeData.focus | flattenRun">
		<div class="col col-xs-5" style="padding-left:calc(26px + (20px * {{process.level}}))">
		  <a href="#/runs/{{process.uuid}}" ng-if="process.type=='run'">
		    {{ process.name }}@{{process.uuid | limitTo:8 }}
		  </a>
		  <a href="#/tasks/{{process.uuid}}" ng-if="process.type=='task'">
		    task {{process.uuid | limitTo:8 }}
		  </a>
		  <a href="#/task-attempts/{{process.uuid}}" ng-if="process.type=='task-attempt'">
		    attempt {{process.uuid | limitTo:8}}
		  </a>
		</div>
		<div class="col col-xs-2">
		  <span ng-class="'label label-' + (process.status | statusColor)">
		    {{process.status}}
		  </span>
		</div>
		<div class="col col-xs-3">
		  {{process.datetime_created | date:'medium'}}
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div ng-show="activeData.focus.inputs.length">
        <h4>Inputs</h4>
        <div class="table-responsive" >
            <table class="table table-striped">
                <thead>
                    <th>Channel</th>
                    <th>Type</th>
		    <th ng-show="activeData.focus.is_leaf">Mode</th>
		    <th ng-show="activeData.focus.is_leaf">Group</th>
                    <th>Data</th>
                </thead>
                <tbody>
                    <tr ng-repeat="input in activeData.focus.inputs">
                        <td>{{input.channel}}</td>
                        <td>{{input.type}}</td>
			<td ng-show="activeData.focus.is_leaf">
			  {{input.mode}}
			</td>
			<td ng-show="activeData.focus.is_leaf">
			  {{input.group}}
			</td>
			<td>
			  <loom-data contents="input.data.contents"></loom-data>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h4>Outputs</h4>
    <div class="table-responsive" >
        <table class="table table-striped">
            <thead>
                <th>Channel</th>
                <th>Type</th>
		<th ng-show="activeData.focus.is_leaf">Mode</th>
                <th>Data</th>
            </thead>
            <tbody>
                <tr ng-repeat="output in activeData.focus.outputs">
                    <td>{{output.channel}}</td>
                    <td>{{output.type}}</td>
		    <td ng-show="activeData.focus.is_leaf">
		      {{output.mode}}
		    </td>
		    <td>
		      <loom-data contents="output.data.contents"></loom-data>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-show="activeData.focus.events.length>0">
        <h4>Events</h4>
        <div class="table-responsive" >
            <table class="table table-striped">
                <thead>
                    <th>Timestamp</th>
                    <th>Message</th>
                    <th>Is error</th>
                    <th>Detail</th>
                </thead>
                <tbody>
                    <tr ng-repeat="event in activeData.focus.events">
                        <td>
                            {{event.timestamp | date:'medium'}}
                        </td>
                        <td>{{event.event}}</td>
                        <td>{{event.is_error}}</td>
                        <td>{{event.detail}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
