<img src="assets/loading.gif" alt="Loading..." ng-show="loading" class="center-block">
<div ng-hide="loading">
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>
                    Task ID
                </th>
                <td>
                    {{activeData.focus.uuid}}
                </td>
            </tr>
            <tr ng-show="activeData.focus.status">
                <th>
                    Status
                </th>
                <td>
		  <span ng-class="'label label-'+(activeData.focus.status|statusColor)">
                    {{activeData.focus.status}}
		  </span>
                </td>
            </tr>
            <tr>
                <th>
                    Created
                </th>
                <td>
                    {{activeData.focus.datetime_created | date:'medium'}}
                </td>
            </tr>
            <tr ng-show="activeData.focus.command">
                <th>
                    Command
                </th>
                <td>
                    {{activeData.focus.command}}
                </td>
            </tr>
            <tr ng-show="activeData.focus.interpreter">
                <th>
                    Interpreter
                </th>
                <td>
                    {{activeData.focus.interpreter}}
                </td>
            </tr>
            <tr ng-show="activeData.focus.environment.docker_image">
                <th>Docker Image</th>
                <td>
                    {{activeData.focus.environment.docker_image}}
                </td>
            </tr>
            <tr ng-show="activeData.focus.resources.cores">
                <th>Cores</th>
                <td>
                    {{activeData.focus.resources.cores}}
                </td>
            </tr>
            <tr ng-show="activeData.focus.resources.memory">
                <th>Memory</th>
                <td>
                    {{activeData.focus.resources.memory}}
                </td>
            </tr>
            <tr ng-show="activeData.focus.resources.disk_size">
                <th>Disk size</th>
                <td>
                    {{activeData.focus.resources.disk_size}}
                </td>
            </tr>
        </table>
    </div>
    <div ng-show="activeData.focus.all_task_attempts">
        <h4>Attempts</h4>
        <div class="table-responsive" >
            <table class="table table-striped">
                <thead>
                    <th>Attempt ID</th>
                    <th>Status</th>
                    <th>Created</th>
                </thead>
                <tbody ng-repeat="task_attempt in activeData.focus.all_task_attempts">
                    <tr>
                        <td>
                            <a ng-href="#/task-attempts/{{task_attempt.uuid}}">
                                {{task_attempt.uuid}}
                            </a>
                        </td>
                        <td>
			  <span ng-class="'label label-'+(task_attempt.status|statusColor)">
			    {{task_attempt.status}}
			  </span>
			</td>
                        <td>{{task_attempt.datetime_created | date:'medium'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-show="activeData.focus.inputs.length">
        <h4>Inputs</h4>
        <div class="table-responsive" >
            <table class="table table-striped">
                <thead>
                    <th>Channel</th>
                    <th>Type</th>
		    <th>Mode</th>
                    <th>Data</th>
                </thead>
                <tbody>
                    <tr ng-repeat="input in activeData.focus.inputs">
                        <td>{{input.channel}}</td>
                        <td>{{input.type}}</td>
			<td>{{input.mode}}</td>
			<td>
			  <loom-data contents="input.data.contents"></loom-data>
			</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h4>Outputs</h4>
    <div class="table-responsive" >
        <table class="table table-striped">
            <thead>
                <th>Channel</th>
                <th>Type</th>
		<th>Mode</th>
                <th>Data</th>
            </thead>
            <tbody>
                <tr ng-repeat="output in activeData.focus.outputs">
                    <td>{{output.channel}}</td>
                    <td>{{output.type}}</td>
		    <td>{{output.mode}}</td>
		    <td>
		      <loom-data contents="output.data.contents"></loom-data>
		    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="activeData.focus.events.length>0">
        <h4>Events</h4>
        <div class="table-responsive" >
            <table class="table table-striped">
                <thead>
                    <th>Timestamp</th>
                    <th>Message</th>
                    <th>Is error</th>
                    <th>Detail</th>
                </thead>
                <tbody>
                    <tr ng-repeat="event in activeData.focus.events">
                        <td>
                            {{event.timestamp | date:'medium'}}
                        </td>
                        <td>{{event.event}}</td>
                        <td>{{event.is_error}}</td>
                        <td>{{event.detail}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
