<img src="assets/loading.gif" alt="Loading..." ng-show="loading" class="center-block">
<div ng-hide="loading">
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
	<th>
	  Name
	</th>
	<td>
	  {{activeData.template.name}}
	</td>
      </tr>
      <tr>
	<th>
	  Template ID
	</th>
	<td>
	  {{activeData.template.uuid}}
	</td>
      </tr>
      <tr ng-show="activeData.template.md5">
	<th>
	  Template md5
	</th>
	<td>
	  {{activeData.template.md5}}
	</td>
      </tr>
      <tr>
	<th>
	  Created
	</th>
	<td>
	  {{activeData.template.datetime_created | date:'medium'}}
      </tr>
      <tr ng-show="activeData.template.command">
	<th>
	  Command
	</th>
	<td>
	  {{activeData.template.command}}
	</td>
      </tr>
      <tr ng-show="activeData.template.interpreter">
	<th>
	  Interpreter
	</th>
	<td>
	  {{activeData.template.interpreter}}
	</td>
      </tr>
      <tr ng-show="activeData.template.environment.docker_image">
	<th>Docker Image</th>
	<td>
	  {{activeData.template.environment.docker_image}}
	</td>
      </tr>
      <tr ng-show="activeData.template.resources.cores">
	<th>Cores</th>
	<td>
	  {{activeData.template.resources.cores}}
	</td>
      </tr>
      <tr ng-show="activeData.template.resources.memory">
	<th>Memory</th>
	<td>
	  {{activeData.template.resources.memory}}
	</td>
      </tr>
      <tr ng-show="activeData.template.resources.disk_size">
	<th>Disk size</th>
	<td>
	  {{activeData.template.resources.disk_size}}
	</td>
      </tr>
    </table>
  </div>
  <div ng-show="activeData.template.steps">
    <h4>Steps</h4>
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>Template</th>
	    <th>Created</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="step in activeData.template.steps">
            <td>
	      <a ng-href="#/templates/{{step.uuid}}">
		{{step.name}}@{{step.uuid | limitTo: 8}}
	      </a>
	    </td>
	    <td>
	      {{step.datetime_created | date:'medium'}}
	    </td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
  <div ng-show="activeData.template.inputs.length">
    <h4>Inputs</h4>
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>
	      Channel
	    </th>
	    <th>
	      Type
	    </th>
	    <th ng-show="activeData.template.is_leaf">
	      Mode
	    </th>
	    <th ng-show="activeData.template.is_leaf">
	      Group
	    </th>
	    <th>
	      Default
	    </th>
	    <th>
	      Hint
	    </th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="input in activeData.template.inputs">
            <td>
	      {{input.channel}}
	    </td>
	    <td>
	      {{input.type}}
	    </td>
	    <td ng-show="activeData.template.is_leaf">
	      {{input.mode}}
	    </td>
	    <td ng-show="activeData.template.is_leaf">
	      {{input.group}}
	    </td>
	    <td>
	      <loom-data contents="input.data.contents"></loom-data>
	    </td>
	    <td>
	      {{input.hint}}
	    </td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
  <div ng-show="activeData.template.outputs.length">
    <h4>Outputs</h4>
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>
	      Channel
	    </th>
	    <th>
	      Type
	    </th>
	    <th ng-show="activeData.template.is_leaf">
	      Mode
	    </th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="output in activeData.template.outputs">
            <td>{{output.channel}}</td>
	    <td>{{output.type}}</td>
	    <td ng-show="activeData.template.is_leaf">
	      {{output.mode}}
	    </td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
</div>
