Django==1.8
django-extensions==1.5.5
docutils==0.12
gcloud==0.8.0
google-api-python-client==1.4.2
google-apitools==0.4.13
gunicorn==19.3.0
httplib2==0.9.2
Jinja2==2.8
jsonfield==1.0.3
jsonschema==2.4.0
lockfile==0.12.2
MarkupSafe==0.23
MySQL-python==1.2.5
oauth2client==1.5.2
protobuf==3.0.0b2
protorpc==0.11.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycrypto==2.6.1
python-daemon==2.0.5
PyYAML==3.11
requests==2.6.0
rsa==3.3
simplejson==3.8.1
six==1.10.0
uritemplate==0.6
loomengine==0.1.0.post3
