<html>
<head>
    <!-- Data-Driven Documents: http://d3js.org/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>

    <!-- d3-context-menu from https://github.com/patorjk/d3-context-menu -->
    <link rel="stylesheet" href="{{STATIC_URL}}/editor/d3-context-menu.css" />
    <script src="{{STATIC_URL}}/editor/d3-context-menu.js"></script>

    <!-- Modernizr library for detecting browser support for required features: http://www.modernizr.com -->
    <script src="{{STATIC_URL}}/editor/modernizr-latest.js"></script>

    <!-- Prism.js for syntax highlighting: http://http://prismjs.com/ -->
    <link href="{{STATIC_URL}}/editor/prism.css" rel="stylesheet" />
    <script src="{{STATIC_URL}}/editor/prism.js"></script>

    <!-- FileSaver.js for popping up a "Save as..." dialog: https://github.com/eligrey/FileSaver.js -->
    <!--<script src="{{STATIC_URL}}/editor/FileSaver.js"/>-->
    <!-- Blob.js for browsers that don't support the Blob API: https://github.com/eligrey/Blob.js -->
    <!--<script src="{{STATIC_URL}}/editor/Blob.js"/>-->

    <style>
        #background{
            fill:white;
            stroke:black;
        }
        .step{
            fill:white;
            stroke:black;
            stroke-width:2;
            color: black;
        }
        .step_rect{
            width:160;
            height:40;
            rx:10;
            ry:10;    
        }
        .transparent{
            opacity:0.5;
        }
        .port{
            r:5;
        }
        .input{
            fill:lightgreen;
        }
        .output{
            fill:pink;
        }
        .connector {
            stroke:black;
            stroke-width:2;
            fill:none;
        }
        .step_text {
            stroke:none;
            fill:black;
            font-size: 18pt;
            font-family: sans-serif;
            color:black;
        }
        .step form {
            text-align: right;
            font-size: 12pt;
            font-family: sans-serif;
            color:black;
        }
        .step label {
            display: inline-block;
            width: 120px;
            text-align: right;
        }
        .step input {
            font-size: 12pt;
            font-family: sans-serif;
            color:black;
        }
        .step input[type="submit"] {
            display:inline-block;
            font-size: 12pt;
            font-family: sans-serif;
            color:black;
        }
    </style>
</head>
<body>
<script>
    // Define constants
    var SVG_WIDTH = 1200, SVG_HEIGHT = 800;     // size of drawing area
    var STEP_WIDTH = 160, STEP_HEIGHT = 40;     // size of step rectangles

    // Define classes and collections
    Steps = {};

    function Step(x, y) {
        this.move_to = function(x, y) {
            this.x = x;
            this.y = y;
            Workspace.update();
            JsonView.update();
        }

        this.delete = function() {
            delete Steps[this.id];
            delete_orphaned_connectors();
            Workspace.update();
            JsonView.update();
        }

        this.add_input_port = function() {
            var new_input_port = new InputPort(this);
            this.input_ports[new_input_port.id] = new_input_port;
            Workspace.update();
            JsonView.update();
        }

        this.add_output_port = function () {
            var new_output_port = new OutputPort(this);
            this.output_ports[new_output_port.id] = new_output_port;
            Workspace.update();
            JsonView.update();
        }

        // Convenience function to get an array of all Ports in this Step.
        this.get_ports = function () {
            all_ports = to_values_array(this.input_ports).concat(to_values_array(this.output_ports));
            return all_ports;
        }

        // Credit for this technique goes to: http://bl.ocks.org/GerHobbelt/2653660
        this.edit = function(elm, d, i) {
            var p = elm.parentNode;
            console.log(elm, arguments);

            // inject a HTML form to edit the content here...
            var xy = elm.getBBox();
            var p_xy = p.getBBox();

            var step_selection = d3.select(elm);
            var parent_selection = d3.select(p);

            var foreignObject = step_selection.append("foreignObject");

            // TODO: Close form on escape key, bug with positioning input text overflow
            var form = foreignObject
                    //.attr("transform", "translate("+ xy.x+","+ xy.y+")")
                    .attr("x", xy.x + xy.width - 300)
                    .attr("y", xy.y + xy.height + 10)
                    .attr("width", 300)
                    .attr("height", 300)
                    .append("xhtml:form")

                // make the form go away when you jump out (form loses focus) or hit ENTER:
//                    .on("blur", function() {
//                        console.log("blur", elm, arguments);
//
//                        var txt = inp.node().value;
//
//                        this.name = txt;
//                        el
//                                .text(function(d) { return d["name"]; });
//
//                        // Note to self: frm.remove() will remove the entire <g> group! Remember the D3 selection logic!
//                        form.remove();
//                        JsonView.update();
//                        Workspace.update();
//                    })
//                    .on("keypress", function() {
//                        console.log("keypress", elm, arguments);
//
//                        // IE fix
//                        if (!d3.event)
//                            d3.event = window.event;
//
//                        var e = d3.event;
//                        if (e.keyCode == 13)
//                        {
//                            if (typeof(e.cancelBubble) !== 'undefined') // IE
//                                e.cancelBubble = true;
//                            if (e.stopPropagation)
//                                e.stopPropagation();
//                            e.preventDefault();
//
//                            var txt = inp.node().value;
//
//                            d["name"] = txt;
//                            el
//                                    .text(function(d) { return d["name"]; });
//
//                            // odd. Should work in Safari, but the debugger crashes on this instead.
//                            // Anyway, it SHOULD be here and it doesn't hurt otherwise.
//                            parent_selection.select("foreignObject").remove();
//
//                            JsonView.update();
//                            Workspace.update();
//                        }
//                    });
            form.on("submit", function(d) {

                // Save form data to Step object
                d.name = this["name"].value;
                d.environment.docker_image = this["docker_image"].value;
                d.command = this["command"].value;
                d.resources.cores = this["cores"].value;
                d.resources.memory = this["memory"].value;

                // Close form
                d3.select("#"+d.id).select("foreignObject").remove();

                JsonView.update();
                Workspace.update();

                // Prevent reloading page
                event.preventDefault();
                return false;

            });
            form.append("label")
                    .attr("for", "name")
                    .text("name:");
            form.append("input")
                    .attr("id", "name")
                    .attr("value", this.name);
            form.append("br");

            form.append("label")
                    .attr("for", "docker_image")
                    .text("docker image:");
            form.append("input")
                    .attr("id", "docker_image")
                    .attr("value", this.environment.docker_image);
            form.append("br");

            form.append("label")
                    .attr("for", "command")
                    .text("command:");
            form.append("input")
                    .attr("id", "command")
                    .attr("value", this.command);
            form.append("br");

            form.append("label")
                    .attr("for", "cores")
                    .text("cores:");
            form.append("input")
                    .attr("id", "cores")
                    .attr("value", this.resources.cores);
            form.append("br");

            form.append("label")
                    .attr("for", "memory")
                    .text("memory:");
            form.append("input")
                    .attr("id", "memory")
                    .attr("value", this.resources.memory);
            form.append("br");

            form.append("input")
                    .attr("type", "button")
                    .attr("value", "cancel")
                    .on("click", function() {
                        // Close form
                        d3.select("#"+d.id).select("foreignObject").remove();});
            form.append("input")
                    .attr("type", "submit")
                    .attr("value", "save");
        }

        this.id = "step-" + guid();
        this.name = "step name";
        this.command = "command string";
        this.environment = {"docker_image" : "docker image"};
        this.resources = {"cores": 1, "memory": "5GB"};
        this.x = x;
        this.y = y;
        this.input_ports = {};
        this.output_ports = {};
        this.add_input_port();
        this.add_output_port();
    }
    Step.create_at = function(x, y) {
        var new_step = new Step(x, y);
        Steps[new_step.id] = new_step;
        Workspace.update();
        JsonView.update();
        return new_step.id;
    }
    function Port(parent_step) {
        this.id = "port-" + guid();
        this.name = "port name";
        this.file_path = "file.txt";
        this.parent_step = parent_step;
    }
    function InputPort(parent) {
        Port.call(this, parent);
    }
    InputPort.prototype = Object.create(Port.prototype);
    InputPort.prototype.constructor = InputPort;
    function OutputPort(parent) {
        Port.call(this, parent);
    }
    OutputPort.prototype = Object.create(Port.prototype);
    OutputPort.prototype.constructor = OutputPort;

    var Connectors = {};
    var delete_orphaned_connectors = function() {
        connectors_array = to_values_array(Connectors);
        for (var i = 0; i < connectors_array.length; i++) {
            var connector = connectors_array[i];
            if ((get_port_by_id(connector.from.id) === null) || (get_port_by_id(connector.to.id) === null)) {
                delete Connectors[connector.id];
            }
        }
    }
    function Connector (from, to) {
        // Validate port types
        if (!(to instanceof InputPort)) {
            throw new Error("Tried to instantiate connector, but second argument is not an input port");
        }
        if (!(from instanceof OutputPort)) {
            throw new Error("Tried to instantiate connector, but first argument is not an output port");
        }
        this.id = "connector-" + guid();
        this.from = from;
        this.to = to;
    }
    Connector.create = function(from_id, to_id) {
        var new_connector = new Connector(get_port_by_id(from_id), get_port_by_id(to_id));
        Connectors[new_connector.id] = new_connector;
        Workspace.update();
        JsonView.update();
    }

    function Workspace () {
    }
    // Update drawing area to reflect data model
    Workspace.update = function() {
        // Add new <g> elements to represent steps if needed
        var steps_array = to_values_array(Steps);
        var updating_steps = d3.select("#workspace").selectAll("g.step")
                .data(steps_array, function(d) {return d.id;});
        var entering_steps = updating_steps.enter().append("g")
                .classed("step", true)
                .attr("id", function(d) {return d.id;})
                .call(drag_step)
                .on('contextmenu', d3.contextMenu(step_menu));
        entering_steps.append("rect")
                .classed("step_rect", true)
                .attr("x", 0)
                .attr("y", 0)
                .attr("width", STEP_WIDTH)
                .attr("height", STEP_HEIGHT);
        entering_steps.append("text")
                .classed("step_text", true)
                .attr("pointer-events", "none")
                .attr("text-anchor", "middle")
                .attr("dominant-baseline", "middle")
                .attr("x", STEP_WIDTH/2)
                .attr("y", STEP_HEIGHT/2)
                .attr("contenteditable", true)
                .text("step name");

        // Fade in new steps
        entering_steps.attr("opacity", 0).transition().attr("opacity", 1);

        // Update <g> elements to match current step data
        updating_steps.attr("transform", function(d) {return "translate("+ d.x+","+ d.y+")";});
        updating_steps.select("text").text(function(d) {return d.name;})

        // Fade out, then remove unused <g> elements
        updating_steps.exit()
                .attr("opacity", 1).transition().attr("opacity", 0)
                .remove();

        // Add new <circle>s to represent ports if needed
        var updating_ports = updating_steps.selectAll("circle.port")
                .data(function(d) {return Steps[d.id].get_ports();}, function(d) {return d.id;});
        //.data(function(d) {return d.get_ports();});
        var entering_ports = updating_ports.enter().append("circle")
                .classed("port", true)
                .classed("input", function (d) {return (d instanceof InputPort)})
                .classed("output", function (d) {return (d instanceof OutputPort)})
                .attr("id", function(d) {return d.id;})
                .attr("filename", "myfile.txt")
                .on("mouseover", over_port_start)
                .on("mouseout", over_port_end)
                .call(drag_port);
        //.attr("opacity", 0).transition().attr("opacity", 1);

        // Remove unused <circle>s
        updating_ports.exit().remove();

        // Update <circle>s by repositioning
        d3.selectAll("g.step").each(function(d) {
            step_selection = d3.select(this);
            step_rect = step_selection.select(".step_rect");
            start_y = step_rect.attr("y");
            end_y = parseInt(start_y) + parseInt(step_rect.attr('height'));
            left = step_rect.attr('x');
            right = parseInt(left) + parseInt(step_rect.attr('width'));

            inputs = step_selection.selectAll(".input");
            y_array = d3.scale.linear().domain([start_y,end_y]).ticks(inputs.size());
            //console.log(y_array);
            inputs.data(y_array)
                    .attr('cy', function(d){return d;})
                    .attr('cx', left);

            outputs = step_selection.selectAll(".output");
            y_array = d3.scale.linear().domain([start_y,end_y]).ticks(outputs.size());
            outputs.data(y_array)
                    .attr('cy', function(d){return d})
                    .attr('cx', right);

        });

        // Add <path>s to represent connectors as needed
        var connectors_array = to_values_array(Connectors);
        var updating_connectors = d3.select("#workspace").selectAll("path.connector.solid")
                .data(connectors_array);
        var entering_connectors = updating_connectors.enter().append("path")
                .classed("connector", true)
                .classed("solid", true)
                .attr("id", function(d) {return d.id;})
                .attr("from", function(d) {return d.from.id;})
                .attr("to", function(d) {return d.to.id;});

        // Update connector <path>s
        updating_connectors.attr("d", function(d) {
            from_port = d3.select("#"+d.from.id);
            to_port = d3.select("#"+d.to.id);
            step_transform = from_port.node().parentNode.getAttribute("transform");
            translate = d3.transform(step_transform).translate;
            from_x = parseInt(from_port.attr("cx"))+parseInt(translate[0]);
            from_y = parseInt(from_port.attr("cy"))+parseInt(translate[1]);
            step_transform = to_port.node().parentNode.getAttribute("transform");
            translate = d3.transform(step_transform).translate;
            to_x = parseInt(to_port.attr("cx"))+parseInt(translate[0]);
            to_y = parseInt(to_port.attr("cy"))+parseInt(translate[1]);
            x1 = (from_x + to_x) / 2;
            y1 = from_y;
            x2 = (from_x + to_x) / 2;
            y2 = to_y;
            return "M"+from_x+","+from_y+" C"+x1+","+y1+" "+x2+","+y2+" "+to_x+","+to_y;
        });

        // Remove unused connector <path>s
        updating_connectors.exit().remove();
    }
    var get_port_by_id = function(id) {
        steps_array = to_values_array(Steps);
        for (var i = 0; i < steps_array.length; i++) {
            var step = steps_array[i];
            ports_array = step.get_ports();
            for (var j = 0; j < ports_array.length; j++) {
                var port = ports_array[j];
                if (port.id === id) {
                    return port;
                }
            }
        }
        return null;
    }

    function JsonView() {};
    JsonView.update = function() {
        // Build XPPF JSON object
        var xppf_json = {
            "analyses": [
                {
                    "data_pipes": [],
                    "data_bindings": [],
                    "steps": []
                }
            ],
            "requester": "someone@example.net"
        };

        // Add Connectors to data_pipes
        var connectors_array = to_values_array(Connectors);
        for (var i = 0; i < connectors_array.length; i++) {
            var connector = connectors_array[i];
            var new_pipe = {
                "source": {
                    "step": connector.from.parent_step.name,
                    "port": connector.from.name
                },
                "destination": {
                    "step": connector.to.parent_step.name,
                    "port": connector.to.name
                }
            };
            xppf_json.analyses[0].data_pipes.push(new_pipe);
        }

        // Add Steps to steps
        var steps_array = to_values_array(Steps);
        for (var i = 0; i < steps_array.length; i++) {
            var step = steps_array[i];
            var new_step = {
                "name": step.name,
                "environment": step.environment,
                "command": step.command,
                "resources":step.resources
            };
            // Add ports
            var input_ports_array = to_values_array(step.input_ports);
            if (input_ports_array.length > 0) {
                new_step.input_ports = [];
                for (var j = 0; j < input_ports_array.length; j++) {
                    current_port = input_ports_array[j];
                    new_step.input_ports.push({
                       "name": current_port.name,
                       "file_path": current_port.file_path
                    });
                }
            }
            var output_ports_array = to_values_array(step.output_ports);
            if (output_ports_array.length > 0) {
                new_step.output_ports = [];
                for (var j = 0; j < output_ports_array.length; j++) {
                    current_port = output_ports_array[j];
                    new_step.output_ports.push({
                        "name": current_port.name,
                        "file_path": current_port.file_path
                    });
                }
            }
            xppf_json.analyses[0].steps.push(new_step);
        }

        // TODO: Figure out what to do about data_bindings (need hash of file)
        // TODO: Let users enter email and add as requester

        d3.select("#xppf_json_display").text(JSON.stringify(xppf_json, null, 2));

        // DEBUG: Dump entire Steps object
        //d3.select("#json_display").text(safe_stringify(Steps, null, 2));
    };

    // Define helper functions
    function strip_quotes(a) {
        if (a.charAt(0) === '"' && a.charAt(a.length-1) === '"') {
            return a.substr(1, a.length-2);
        }
        return a;
    }
    function to_values_array(obj) {
        return Object.keys(obj).map(function (key) {return obj[key]});
    }
    /**
     * Generates a GUID string.
     *
     * @returns {String} The generated GUID.
     * @example af8a8416-6e18-a307-bd9c-f2c947bbb3aa
     * @author Slavik Meltser (slavik@meltser.info).
     * @link http://slavik.meltser.info/?p=142
     */
    function guid() {
        function _p8(s) {
            var p = (Math.random().toString(16)+"000000000").substr(2,8);
            return s ? "-" + p.substr(0,4) + "-" + p.substr(4,4) : p ;
        }
        return _p8() + _p8(true) + _p8(true) + _p8();
    }

    /**
     * Serializes JSON and removes circular references.
     *
     * @param obj
     * @param replacer
     * @param spaces
     * @param cycleReplacer
     * @link https://github.com/isaacs/json-stringify-safe
     */
    function safe_stringify(obj, replacer, spaces, cycleReplacer) {
        return JSON.stringify(obj, serializer(replacer, cycleReplacer), spaces)
    }
    function serializer(replacer, cycleReplacer) {
        var stack = [], keys = []

        if (cycleReplacer == null) cycleReplacer = function(key, value) {
            if (stack[0] === value) return "[Circular ~]"
            return "[Circular ~." + keys.slice(0, stack.indexOf(value)).join(".") + "]"
        }

        return function(key, value) {
            if (stack.length > 0) {
                var thisPos = stack.indexOf(this)
                ~thisPos ? stack.splice(thisPos + 1) : stack.push(this)
                ~thisPos ? keys.splice(thisPos, Infinity, key) : keys.push(key)
                if (~stack.indexOf(value)) value = cycleReplacer.call(this, key, value)
            }
            else stack.push(value)

            return replacer == null ? value : replacer.call(this, key, value)
        }
    }

    // Define drag behavior for steps
    var drag_step = d3.behavior.drag()
        // Set origin to preserve mouse offset
        .origin(function(){
            return {"x":d3.transform(d3.select(this).attr("transform")).translate[0],
                    "y":d3.transform(d3.select(this).attr("transform")).translate[1]};
            })
        .on("drag", function(d) {
                // Prevent dragging using right mouse button
                if (d3.event.sourceEvent.button == 2) {
                    return;
                }
                Steps[this.id].move_to(d3.event.x, d3.event.y);
            })
        .on("dragstart", function(d) {
                // Prevent event from bubbling
                d3.event.sourceEvent.stopPropagation();
            });

    // Define drag behavior for ports
    var drag_port = d3.behavior.drag()
        // Set origin to preserve mouse offset
        .origin(function(){return {"x":this.getAttribute("cx"), "y":this.getAttribute("cy")};})
        .on("dragstart", function(d) {
                console.log("drag start");
                // Prevent event from bubbling to step
                d3.event.sourceEvent.stopPropagation();

                // Create a placeholder "ghost" port and move that while dragging
                mousecoords = d3.mouse(d3.select("#workspace")[0][0]);
                this.ghost_port = d3.select("#workspace").append("circle")
                    .attr("class", "port transparent")
                    .attr("pointer-events", "none")
                    .attr("cx", mousecoords[0])
                    .attr("cy", mousecoords[1]);

                // Also create and move a "ghost" connector
                this.ghost_connector_start = "M " + mousecoords[0] + " " + mousecoords[1];
                this.ghost_connector = d3.select("#workspace").append("path")
                    .attr("class", "connector transparent")
                    .attr("pointer-events", "none")
                    .attr("d", this.ghost_connector_start + " T " + mousecoords[0] + " " + mousecoords[1]);
            })
        .on("drag", function(d) {
                mousecoords = d3.mouse(d3.select("#workspace")[0][0]);
                this.ghost_port
                    .attr("cx", mousecoords[0])
                    .attr("cy", mousecoords[1]);
                //console.log(this.ghost_connector_start);
                this.ghost_connector
                    .attr("d", this.ghost_connector_start + " T " + mousecoords[0] + " " + mousecoords[1]);
            })
        .on("dragend", function(d) {

                // Check if we're releasing over a port
                if (over_port_id != null) {
                    // Check connection validity
                    if (is_connection_valid(this.id, over_port_id)) {

                        var input_port, output_port;
                        if (d3.select(this).classed("input")) {
                            input_port_id = this.id;
                            output_port_id = over_port_id;
                        } else {
                            input_port_id = over_port_id;
                            output_port_id = this.id;
                        }
                        // Add a connector
                        console.log("Adding connector");
                        Connector.create(output_port_id, input_port_id);
                    }
                }
                // Remove ghost port and connector
                this.ghost_port.remove();
                this.ghost_connector.remove();
            });

    var is_connection_valid = function (dropped_port_id, over_port_id)
    {
        dropped_port = d3.select("#" + dropped_port_id);
        over_port = d3.select("#" + over_port_id);

        // Inputs can't connect to inputs; outputs can't connect to outputs
        if ((dropped_port.classed("input") && over_port.classed("output")) ||
            (dropped_port.classed("output") && over_port.classed("input"))) {

            // Ports must connect different steps
            if (dropped_port.node().parentNode !== over_port.node().parentNode) {

                if (dropped_port.classed("input")) {
                    input_port = dropped_port;
                } else {
                    input_port = over_port;
                }

                // TODO: Validate that Input port is empty
                if (d3.selectAll("[to='"+input_port.id+"'].connector").empty()) {
                    return true;
                } else {
                    console.log("Skipped trying to connect to a non-vacant input port");
                }
            } else {
                console.log("Skipped trying to connect ports of same step");
            }
        } else {
            console.log("Skipped trying to connect ports of same type");
        }
        return false;
    }

    // Define functions to detect drag and drop for connecting ports
    var over_port_id = null;
    var over_port_start = function() {
        console.log("Over port " + this.id);
        over_port_id = this.id;
    }
    var over_port_end = function() {
        console.log("Exiting port " + this.id);
        over_port_id = null;
    }
    // Define context menus
    var step_menu = [
                {
                    title: 'Edit step',
                    action: function(elm, d, i) {
                        Steps[elm.id].edit(elm, d, i);
                    }
                },
                {
                    title: 'Add input',
                    action: function(elm, d, i) {
                        Steps[elm.id].add_input_port();
                    }
                },
                {
                    title: 'Add output',
                    action: function(elm, d, i) {
                        Steps[elm.id].add_output_port();
                    }
                },
                {
                    title: 'Delete step',
                    action: function(elm, d, i) {
                        Steps[elm.id].delete();
                    }
                }
               ];
    var background_menu = [
                {
                    title: 'New step',
                    action: function(elm, d, i) {
                        // Get mouse position in workspace coordinates
                        mousecoords = d3.mouse(d3.select("#workspace")[0][0]);
                        Step.create_at(mousecoords[0], mousecoords[1]);
                    }
                }
               ];

    // Define pan and zoom behavior
    var zoom = d3.behavior.zoom()
        .translate([0,0])
        .scale(1)
        .scaleExtent([.5,8])
        .size([SVG_WIDTH, SVG_HEIGHT])
        .on("zoom", function() {
            //console.log(d3.event);
            d3.select("#workspace")
                .attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
        });

    // Set up main drawing area

    d3.select("body").append("svg")
        // Make mousewheel zoom background, and dragging pan background
        .call(zoom)
        // Disable other zoom behaviors for now
        .on("dblclick.zoom", null)
        .attr("width", SVG_WIDTH)
        .attr("height", SVG_HEIGHT)
        .append("rect")
            .attr("id", "background")
            .attr("width", SVG_WIDTH)
            .attr("height", SVG_HEIGHT)
            // Make right-clicking the background open context menu
            .on('contextmenu', d3.contextMenu(background_menu));
    d3.select("svg").append("g")
        .attr("id", "workspace")
        .append("circle")
            .attr("style", "fill:black")
            .attr("cx", 0)
            .attr("cy", 0)
            .attr("r", 20);

    // Update json
    var the_json = {};
//    var JsonView.update = function() {
//        new_json = {};
//        new_json['steps'] = [];
//        d3.selectAll("g.step").each(function () {
//            step = {id:this.id, inputs:[], outputs:[]};
//            step["name"] = d3.select(this).select("text").text();
//            d3.select(this).selectAll(".input").each(function () {
//                current = d3.select(this);
//                step["inputs"].push({"id":this.id, "filename":current.attr("filename")});
//            });
//            d3.select(this).selectAll(".output").each(function () {
//                current = d3.select(this);
//                step["outputs"].push({"id":this.id, "filename":current.attr("filename")});
//            });
//            new_json['steps'].push(step);
//        });
//        new_json['connectors'] = [];
//        d3.selectAll(".connector").each(function () {
//            current = d3.select(this);
//            connector = {"from":current.attr("from"), "to":current.attr("to")};
//            new_json['connectors'].push(connector);
//        });
//
//
//        the_json = new_json;
//        d3.select("#json_display").text(JSON.stringify(the_json, null, 2));
//    }
//    d3.select("#save_button").on("click", function() {
    //        var blob = new Blob(["Hello, world!"], {type: "text/plain;charset=utf-8"});
    //        saveAs(blob, "hello world.txt");
    //    });

</script>
<pre>
    <input type="button" value="Save JSON" id="save_button"/>
    <code class="language-javascript" id="xppf_json_display"></code>
</pre>
<pre>
    <code class="language-javascript" id="json_display"></code>
</pre>
</body>
</html>
