<img src="assets/loading.gif" alt="Loading..." ng-show="loading" class="center-block">
<div class="table-responsive" ng-hide="loading">
  <table class="table table-striped" ng-show="files.length">
    <thead>
      <tr>
        <th>File</th>
        <th>md5</th>
	<th>Created</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="file in files">
	<td>
	  <loom-data contents="file"></loom-data>
	</td>
        <td>
          {{file.value.md5}}
        </td>
	<td>
	  {{file.datetime_created | date:'medium'}}
      </tr>
    </tbody>
  </table>
  <div ng-hide="files.length">no files</div>
</div>
