<img src="assets/loading.gif" alt="Loading..." ng-show="loading" class="center-block">
<div ng-hide="loading">
    <div class="table-responsive" >
        <table class="table table-striped table-hover" ng-show="runs.length">
            <thead>
                <tr>
                    <th>Run</th>
                    <th>Status</th>
                    <th>Started</th>
                </tr>
            </thead>
            <tbody ng-repeat="run in runs">
                <tr>
                    <td>
                        <a ng-href="#/runs/{{run.uuid}}">
                            {{run.template.name}}@{{run.uuid | limitTo: 8}}
                        </a>
                    </td>
                    <td>
                        {{run.status}}
                    </td>
                    <td>
                        {{run.datetime_created | date:'medium'}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-hide="runs.length">no runs</div>
    </div>
</div>
