<img src="assets/loading.gif" alt="Loading..." ng-show="loading" class="center-block">
<div ng-hide="loading">
  <div class = "table-responsive" ng-show="runs.length">
    <div class="table table-hover table-striped">
      <div class="container-fluid">
	<div class="row">
	  <div class="col col-xs-5">
	    <button type="button" class="btn btn-basic btn-xs collapse-all" >Collapse all</button>
	    <button type="button" class="btn btn-primary btn-xs expand-all">Expand all</button>
	  </div>
	  <div class="col col-xs-2">Status</div>
	  <div class="col col-xs-3">Started</div>
	  <div class="col col-xs-2">Logs</div>
	</div>
	<div ng-repeat="run in runs" ng-include="'partials/run-contents.html'" ng-controller="RunContentsController">
	</div>
      </div>
    </div>
  </div>
  <div ng-hide="runs.length">no runs</div>
</div>
