<div class="container-fluid">
  <div class="row pull-right">
    <div class="col-xs-12 pull-right">
      <div paging
	   page="currentPage"
	   page-size="pageSize"
	   total="total">
      </div>
    </div>
  </div>
</div>
<img src="assets/loading.gif" alt="Loading..." ng-show="loading" class="center-block">
<div ng-hide="loading">
  <div class = "table-responsive" ng-show="runs.length">
    <div class="table table-hover table-striped">
      <div class="container-fluid">
	<div class="row">
	  <div class="col col-xs-5">
	    <button type="button" class="btn btn-basic btn-xs collapse-all" >Collapse all</button>
	    <button type="button" class="btn btn-primary btn-xs expand-all">Expand all</button>
	  </div>
	  <div class="col col-xs-2">Status</div>
	  <div class="col col-xs-3">Started</div>
	  <div class="col col-xs-2">Logs</div>
	</div>
	<div ng-repeat="run in runs" ng-include="'partials/run-contents.html'" ng-controller="RunContentsController">
	</div>
      </div>
    </div>
  </div>
  <div ng-hide="runs.length">no runs</div>
</div>
<div class="container-fluid pull-right" ng-show="total>pageSize">
  <div class="row">
    <div class="col-xs-12">
      <div paging
	   page="currentPage"
	   page-size="pageSize"
	   total="total">
      </div>
    </div>
  </div>
  <div class="row pull-right">
    <div class="form-inline col-xs-12">
      <label>page</label>
      <input
	placeholder="page"
	class="form-control textarea-sm"
	maxlength="16"
	ng-model="currentPage"/>
    </div>
  </div>
</div>
