<img src="assets/loading.gif" alt="Loading..." ng-show="loading" class="center-block">
<div class="table-responsive" ng-hide="loading">
  <table class="table table-striped" ng-show="templates.length">
    <thead>
      <tr>
	<th>Template</th>
	<th>Created</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="template in templates">
        <td>
	  <a ng-href="#/templates/{{template.uuid}}">
	    {{template.name}}@{{template.uuid | limitTo:8}}
	  </a>
        </td>
        <td>
	    {{template.datetime_created | date:'medium'}}
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-hide="templates.length">no templates</div>
</div>
