<img src="assets/loading.gif" alt="Loading..." ng-show="loading" class="center-block">
<div class="table-responsive" ng-hide="loading">
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>File</th>
	<td>
          {{activeData.importedFile.file_content.filename}}@{{activeData.importedFile._id | limitTo:8}}
	</td>
      </tr>
      <tr>
	<th>{{activeData.importedFile.file_content.unnamed_file_content.hash_function}}</th>
	<td>
          {{activeData.importedFile.file_content.unnamed_file_content.hash_value}}
        </td>
      </tr>
      <tr>
	<th>File location</th>
	<td>
	  {{activeData.importedFile.file_import.file_location.url}}
        </td>
      </tr>
      <tr>
        <th>Original source</th>
	<td>
	  {{activeData.importedFile.file_import.source_url}}
	</td>
      </tr>
      <tr>
	<th>Note</th>
	<td>
	  {{activeData.importedFile.file_import.note}}
	</td>
      </tr>
    </tbody>
  </table>
</div>

