<img src="assets/loading.gif" alt="Loading..." ng-show="loading" class="center-block">
<div ng-hide="loading">
  <h4>Inputs</h4>
  <div class="table-responsive" >
    <table class="table table-striped">
      <thead>
	<th>Name</th>
	<th>File</th>
      </thead>
      <tbody>
	<tr ng-repeat="input in activeData.run.workflow_run_inputs">
	  <td>{{input.channel.channel_name}}</td>
	  <td>
	    <a ng-href="#/files/{{input.data_object._id}}">
	      {{input.data_object.file_name}}@{{input.data_object._id | limitTo:8}}
	    </a>
	  </td>
	</tr>
      </tbody>
    </table>
  </div>
  <h4>Outputs</h4>
  <div class="table-responsive" >
    <table class="table table-striped">
      <thead>
	<th>Name</th>
	<th>File</th>
      </thead>
      <tbody>
	<tr ng-repeat="output in activeData.run.workflow_run_outputs">
	  <td>{{output.subchannel.channel_name}}</td>
	  <td>
	    <p ng-repeat="file in output.subchannel.data_objects">
	      <a ng-href="#/files/{{file._id}}">
		{{file.file_name}}@{{file._id | limitTo:8}}
	      </a>
	    </p>
	  </td>	  
	</tr>
      </tbody>
    </table>
  </div>
  <h4>Steps</h4>
  <div class="table-responsive" >
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Started</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="step_run in activeData.run.step_runs">
          <td><a ng-href="#/runs/{{activeData.run._id}}/steps/{{step_run._id}}">
	      {{step_run.step.step_name}}
          </a></td>
          <td>
            {{step_run.status}}
          </td>
          <td>
            {{step_run.datetime_created | date:'medium'}}
          </td>
          <td>
            {{step_run.datetime_updated | date:'medium'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
