<img src="assets/loading.gif" alt="Loading..." ng-show="loading" class="center-block">
<div ng-hide="loading">
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
	<th>
	  Name
	</th>
	<td>
	  {{activeData.run.name}}
	</td>
      </tr>
      <tr>
	<th>
	  Run ID
	</th>
	<td>
	  {{activeData.run.id}}
	</td>
      </tr>
      <tr>
	<th>
	  Template ID
	</th>
	<td>
	  <a ng-href="#/templates/{{activeData.run.template | parseId:'id'}}">
	    {{activeData.run.template | parseId:'id'}}
	  </a>
	</td>
      </tr>
      <tr ng-show="activeData.run.command">
	<th>
	  Command
	</th>
	<td>
	  {{activeData.run.command}}
	</td>
      </tr>
      <tr ng-show="activeData.run.environment.docker_image">
	<th>Docker Image</th>
	<td>
	  {{activeData.run.environment.docker_image}}
	</td>
      </tr>
      <tr ng-show="activeData.run.resources.cores">
	<th>Cores</th>
	<td>
	  {{activeData.run.resources.cores}}
	</td>
      </tr>
      <tr ng-show="activeData.run.resources.memory">
	<th>Memory</th>
	<td>
	  {{activeData.run.resources.memory}}
	</td>
      </tr>
    </table>
  </div>
  <div ng-show="activeData.run.step_runs.length">
    <h4>Steps</h4>
    <div class="table-responsive" >
      <table class="table table-striped">
	<thead>
          <tr>
            <th>Name</th>
          </tr>
	</thead>
	<tbody>
          <tr ng-repeat="step_run in activeData.run.step_runs">
            <td><a ng-href="#/runs/{{step_run.id}}">
		{{step_run.name}}
            </a></td>
          </tr>
	</tbody>
      </table>
    </div>
  </div>
  <div ng-show="activeData.run.inputs.length">
    <h4>Inputs</h4>
    <div class="table-responsive" >
      <table class="table table-striped">
	<thead>
	  <th>Channel</th>
	  <th>Type</th>
	  <th>Value</th>
	</thead>
	<tbody>
	  <tr ng-repeat="input in activeData.run.inputs">
	    <td>{{input.channel}}</td>
	    <td>{{input.type}}</td>
	    <td ng-show="input.type=='file'">
	      <a ng-href="#/files/{{input.value | parseId:'id'}}" ng-show="input.value">
		{{input.value | parseId:'name'}}
	      </a>
	    </td>
	    <td ng-hide="input.type=='file'">
	      {{input.value}}
	    </td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
  <div ng-show="activeData.run.fixed_inputs.length">
    <h4>Fixed inputs</h4>
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>
	      Channel
	    </th>
	    <th>
	      Type
	    </th>
	    <th>
	      Value
	    </th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="input in activeData.run.fixed_inputs">
	    <td>
	      {{input.channel}}
	    </td>
	    <td>
	      {{input.type}}
	    </td>
	    <td ng-show="input.type=='file'">
	      <a ng-href="#/files/{{input.value | parseId:'id'}}" ng-show="input.value">
		{{input.value | parseId:'name'}}
	      </a>
	    </td>
	    <td ng-hide="input.type=='file'">
	      {{input.value}}
	    </td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
  <h4>Outputs</h4>
  <div class="table-responsive" >
    <table class="table table-striped">
      <thead>
	<th>Channel</th>
	<th>Type</th>
	<th>Value</th>
      </thead>
      <tbody>
	<tr ng-repeat="output in activeData.run.outputs">
	  <td>{{output.channel}}</td>
	  <td>
	    {{output.type}}
	  </td>
	  <td ng-show="output.type=='file'">
	    <a ng-href="#/files/{{output.value | parseId:'id'}}" ng-show="output.value">
	      {{output.value | parseId:'name'}}
	    </a>
	  </td>
	  <td ng-hide="output.type=='file'">
	    {{output.value}}
	  </td>
	</tr>
      </tbody>
    </table>
  </div>
  <div ng-show="activeData.run.task_runs">
    <h4>Log Files</h4>
    <div class="table-responsive" >
      <table class="table table-striped">
	<thead>
	  <th>Log</th>
	  <th>Created</th>
	</thead>
	<tbody ng-repeat="attempt in activeData.run.task_runs[0].task_run_attempts">
	  <tr ng-repeat="log in attempt.log_files">
	    <td>
	      <a ng-href="#/files/{{log.file_data_object.id}}">
		{{log.log_name}}
	      </a>
	    </td>
	    <td>
	      {{log.file_data_object.datetime_created | date:'medium'}}
	    </td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
</div>
