<img src="assets/loading.gif" alt="Loading..." ng-show="loading" class="center-block">
<div ng-hide="loading">
  <div class="table-responsive" >
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Run</th>
          <th>Completed?</th>
          <th>Started</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="run_request in run_requests">
          <td><a ng-href="#/runs/{{run_request.run._id}}">
              {{run_request.run.template.name}}@{{run_request.run._id | limitTo:8}}
          </a></td>
          <td>
            {{run_request.is_completed}}
          </td>
          <td>
            {{run_request.run.datetime_created | date:'medium'}}
          </td>
          <td>
            {{run_request.run.datetime_updated | date:'medium'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

