
<h4>Inputs</h4>
<div class="table-responsive" >
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Name</th>
	<th>File</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="input in activeData.stepRun.step_run_inputs">
	<td>{{input.step_input.from_channel}}</td>
	<td>
	  <div ng-repeat="tr_input in input.task_run_inputs">
	    <a ng-href="#/files/{{tr_input.task_definition_input.data_object._id}}">{{tr_input.task_definition_input.data_object.file_name}}@{{tr_input.task_definition_input.data_object._id | limitTo:8}}</a>
	  </div>
	</td>
      </tr>
    </tbody>
  </table>
</div>
<h4>Outputs</h4>
<div class="table-responsive" >
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Name</th>
	<th>File</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="output in activeData.stepRun.step_run_outputs">
	<td>{{output.step_output.to_channel}}</td>
	<td>
	  <div ng-repeat="tr_output in output.task_run_outputs">
	    <a ng-href="#/files/{{tr_output.data_object._id}}">{{tr_output.data_object.file_name}}@{{tr_output.data_object._id | limitTo:8}}</a>
	  </div>
	</td>
      </tr>
    </tbody>
  </table>
</div>
<h4>Step Details</h4>
<div class="table-responsive" >
  <table class="table table-striped">
    <tbody>
      <tr>
	<th>Command</th>
        <td>
          {{activeData.stepRun.step.command}}
        </td>
      </tr>
      <tr>
	<th>Docker Image</th>
	<td>
          {{activeData.stepRun.step.environment.docker_image}}
        </td>
      </tr>
      <tr>
	<th>Cores</th>
        <td>
          {{activeData.stepRun.step.resources.cores}}
        </td>
      </tr>
      <tr>
        <th>Memory</th>
        <td>
          {{activeData.stepRun.step.resources.memory}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
