<tr ng-show="loading">
  <td></td>
  <td>
    <img src="assets/loading.gif" alt="Loading..." ng-show="loading" class="center-block">
  </td>
  <td></td>
<tr>
<tr ng-hide="loading" ng-repeat="run in expandedRun | flattenSteps">
  <td style="padding-left:calc(26px + (20px * {{run.level}}))">
    <a href="#/runs/{{run.uuid}}" ng-if="run.type=='run'">
      {{ run.name }}@{{run.uuid | limitTo:8 }}
    </a>
    <a href="#/tasks/{{run.uuid}}" ng-if="run.type=='task'">
      task {{run.uuid | limitTo:8 }}
    </a>
    <a href="#/task-attempts/{{run.uuid}}" ng-if="run.type=='task-attempt'">
      attempt {{run.uuid | limitTo:8 }}
    </a>
  </td>
  <td ng-class="getColorClass(run.status)">
    {{run.status}}
  </td>
  <td>
    {{run.datetime_created | date:'medium'}}
  </td>
  <td>
    <a ng-if="run.type=='task-attempt'" target="_blank" ng-href="{{$location.protocol()}}://{{$location.host()}}:5601/app/kibana#/discover?_g=(refreshInterval:(display:'5%20seconds',pause:!f,section:1,value:5000),time:(from:now%2Fy,mode:quick,to:now))&_a=(columns:!(log,container_name),index:'*',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'container_name:{{run.uuid}}')),sort:!('@timestamp',desc))">
      Logs &nbsp;<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
    </a>
  </td>
</tr>
